<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>送信が完了しました</h1>

      <p>内容は以下の通りです。</p>

      <h6>[タイトル]</h6>
      <p><%= @mail_title %></p>

      <h5>[本文]</h5>
      <p> <%= safe_join(@mail_content.split("\n"),tag(:br)) %></p>
    </div>
  </div>
</div>